body {
    font-family: "Archivo Black", sans-serif;
    width: 100%;
    text-align: center;
    background-color: #FFD1D7;
}

h1 {
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 30px;
}

input {
    height: 30px;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
}

input[type="text"] {
    width: 610px;
}

input[type="date"] {
    width: 300px;
}

input[type="time"] {
    width: 300px;
}

input[type="number"] {
    width: 390px;
}


button {
    font-size: 25px;
    padding: 10px;
    border: 2px solid;
    background-color: bisque;
}

.link-agenda {
    text-decoration: none;
    font-size: 30px;
    color: aqua;
}

.link-agenda:hover {
    text-decoration: underline;
    cursor: pointer;
}


.calendario {
    color: aqua;
    text-decoration: none;
    width: 30%;
    text-align: center;
}

